{% extends 'base.html' %}
{% load i18n static humanize %}

{% block title %}{% trans "Delete Answer" %}{% endblock %}

{% block head %}
  <link href="{% static 'css/qa.css' %}" rel="stylesheet">
{% endblock head %}


{% block content %}

<form action="." method="POST">
    {% csrf_token %}
    <h4 style="margin-top: 4em; margin-bottom: 1em;">Do you want to delete the answer ?</h4>
    <p><input type="submit" class="btn btn-primary" value="Yes"/>
        <a href="../" class="btn btn-primary" role="button">Cancel</a>
    </p>
</form>

{% endblock content %}


{% block modal %}
  <script src="{% static 'js/qa.js' %}" type="text/javascript"></script>
{% endblock modal %}