{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{% trans "Download Questions" %}{% endblock %}

{% block head %}
  <link href="{% static 'css/qa.css' %}" rel="stylesheet">
{% endblock head %}

{% block content %}

{% csrf_token %}
<form action="" method="">
   
    <h4 style="margin-top: 4em; margin-bottom: 1em;">Download Your Questions</h4>
    <p id="para_download"><a href = "{% url 'qa:download_question' user.id %}" id="download_ques" class="btn btn-primary" role="button">{% trans 'Download' %}</a>
        <a href="../" class="btn btn-primary" id="cancel" role="button">Cancel</a>
    </p>
    <p id="task_id">{{task_id}}</p>
    <p id="result">{{result}}</p>
    <button id="status" class="btn btn-primary">Get current status</button>
    <a href="{% url 'qa:get_file' user.id%}" id="get_file" class="btn btn-primary" role="button">Get downloaded questions</a>

</form>

{% endblock content %}

{% block modal %}
  <script src="{% static 'js/qa.js' %}" type="text/javascript"></script>
{% endblock modal %}
